* {
    margin: 0;
    padding: 0;
    
}
.wave {
    fill: none;
    stroke: #B275FF;
    stroke-width: 2;
}
.line{
   top: 10px;
   width:100%;
   position: fixed;
   z-index: 1;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}
.row{
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  grid-template-rows: 1fr;
  width:80%;
  z-index: 2;
}
.row2{
  display: grid;
  grid-template-columns:  repeat(3, 1fr);;
  grid-template-rows: 1fr;
  gap:100px;
  z-index: 2;

}
.r1{
  /* 위치 조정 */
  grid-column: 1;
  grid-row: 1;
  transform: rotate(10deg);
}
.r2{
  grid-column:2;
  grid-row: 1;
  transform: rotate(-10deg);
}
.r3{
  grid-column:3;
  grid-row: 1;
  transform: rotate(10deg);
}
.r4{
  grid-column:4;
  grid-row: 1;
  transform: rotate(-10deg);
}
.r5{
  grid-column:1;
  grid-row: 1;
  transform: rotate(10deg);
}
.r6{
  grid-column:2;
  grid-row: 1;
  transform: rotate(-10deg);
}
/* -- */
.r7{
  grid-column:3;
  grid-row: 1;
  transform: rotate(10deg);
}
.home{
    position: absolute;
    font-size: 40px;
    margin-top:10px;
    margin-left: 10px;
    z-index: 999;
    color:#B275FF;
  }
  .fileinput{
    /* background-color: #B275FF; */
    background-color: aliceblue;
  }
  .fileinput label{
    /* background-color: #B275FF; */
  }
  .filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
