
/* App.css */

p{
  color:gray
}
.texttoleft{
  
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.modal-header {
  background-color: #007bff;
  color: white;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}
.savebutton{
  background-color: #bf88fd;
}
.exitbutton{
  background-color:#ddbfff ;
}
.inputText{
  font-size: 50px;
}
@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

.blinking-cursor {
  display: inline-block;
  width: 2px; /* 커서의 너비 */
  height: 20px; /* 커서의 높이 */
  background-color: black; /* 커서의 색상 */
  animation: blink 1s step-start infinite;
}
.modalContainer{
  position: fixed;
  top: 10%; /* 원하는 위치로 조정 */
  padding: 10px;
  box-sizing: border-box;
}
.text{
  position: relative;
  
  
}
.savebutton{
  width:100%; 
  height:40px; 
  border-radius:30px;
  border: none;
}