
/* App.css */

p{
  color:gray
}
.texttoleft{
  
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.modal-header {
  background-color: #007bff;
  color: white;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

